.grid 
{
    display: flex;
    width: 537px;
    height: 537px;
    flex-wrap: wrap;
    cursor: url("./images/spray2.jpg"), auto;
    margin-left: auto;
    margin-right: auto;
}
.square
{
    width: 175px;
    height: 175px;
    border: solid black 2px;
    background-image: url("./images/blanket.jpg");
}
.creature
{
    background-image: url("./images/cat+blanket.jpg");
}
.creatureRare
{
    background-image: url("./images/flatcat.jpg");
}
.creature1 {
    background-image: url("./images/goblin.jpg");
}
.creature2 {
    background-image: url("./images/raregoodphoto.jpg");
}
.creature3 {
    background-image: url("./images/thesinner.jpg");
}
.sinner {
    background-image: url("./images/thesinnerawakens.jpeg")
}
button {
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
}
body
{
    margin-top: -66px;
    text-align:center;
    background-color: paleturquoise;
}
h2 {
    font-family: Tahoma;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
h1
{
    font-family: 'Bell MT';
    margin-bottom: -10px;
}
p {
    font-size: 60px;
    font-family: Broadway;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
.signature{
    font-size: 10px;
    font-family: Arial;
    text-shadow: none;
    font-style: italic;
}